@model IEnumerable<PetStore.MVC.Models.Owner>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var owner in Model)
{
    <table class="table">
        <thead>
            <tr>
                <h3>@owner.FullName</h3>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var pet in owner.Pets)
                {
                    <td>
                        <h5>@pet.Name</h5><br />
                        <img style="border-style: outset;" src=@($"images/{pet.Breed.ToString()}.jpg") alt="Pet Photo" />
                    </td>
                }
            </tr>
        </tbody>
    </table>
}
